<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
        <div>
            <form action="/animals" method="POST">
                <fieldset>
                    <legend>Add a new animal</legend>
                    <label>Name: <input type="text" name="name" placeholder="Enter animal name"/></label>
                    <label>Species: <input type="text" name="species" placeholder="Enter species"/></label>
                    <label>Location: <input type="text" name="location" placeholder="location of animal"/></label>
                    <label>Life Expectancy: <input type="number" name="life expectancy" placeholder="Enter lifespan in years"/></label>
                    <label>Extinct: <input type="checkbox" name="extinct"/></label>
                    <input type="submit" value="add animal"/>
                </fieldset>
            </form>

                <a href="/animals"><button>Back To Main</button></a>
            </article>
        </div>            
    </main>
    
</body>
</html>