<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
        <div>
            <form action="/animals" method="POST">
                <fieldset>
                    <legend>Add a new animal</legend>

                    <label>Name: <input type="text" name="name" placeholder="Enter animal name"/></label>
                    
                    <label>Image URL: <input type="text" name="imageUrl" placeholder="Enter image URL"/></label>
                    
                    <label>Species: <input type="text" name="species" placeholder="Enter species"/></label>
                    
                    <label>Location: <input type="text" name="location" placeholder="Location of animal"/></label>
                    
                    <label>Life Expectancy: <input type="number" name="lifeExpectancy" placeholder="Enter lifespan in years"/></label>
                    
                    <label>Extinct: <input type="checkbox" name="extinct"/></label>
                    <input type="submit" value="Add New Animal"/>
                </fieldset>
            </form>
            <h2><a href="/animals">Back To Main</a></h2>
        </div>            
    </main>
</body>
</html>